家装智能（备份版）.yml
app:
  description: ''
  icon: white_large_square
  icon_background: '#FFEAD5'
  mode: workflow
  name: 家装智能（备份版）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/searxng:0.0.2@f7b89266ad7194a5574223198ade08a8f3841857d907ebdc4813fa4c2fba9381
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: yangyaofei/vllm:0.1.3@933e7ff26f03bed6f5edf12fe720cb077f357fd36d151f57f634c4dfd33adaed
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1743480965008-source-1743702547741-target
      selected: false
      source: '1743480965008'
      sourceHandle: source
      target: '1743702547741'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743702632111'
        sourceType: iteration-start
        targetType: llm
      id: 1743702632111start-source-1743702642070-target
      selected: false
      source: 1743702632111start
      sourceHandle: source
      target: '1743702642070'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1743702547741-source-1743706428975-target
      selected: false
      source: '1743702547741'
      sourceHandle: source
      target: '1743706428975'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1743706428975-source-1743702632111-target
      selected: false
      source: '1743706428975'
      sourceHandle: source
      target: '1743702632111'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1743702632111-source-1743783803314-target
      selected: false
      source: '1743702632111'
      sourceHandle: source
      target: '1743783803314'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1743783803314-source-1743786672018-target
      selected: false
      source: '1743783803314'
      sourceHandle: source
      target: '1743786672018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743786672018'
        sourceType: tool
        targetType: llm
      id: 1743786682177-source-1743786711431-target
      selected: false
      source: '1743786682177'
      sourceHandle: source
      target: '1743786711431'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743786672018'
        sourceType: iteration-start
        targetType: code
      id: 1743786672018start-source-1743786874156-target
      selected: false
      source: 1743786672018start
      sourceHandle: source
      target: '1743786874156'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743786672018'
        sourceType: code
        targetType: tool
      id: 1743786874156-source-1743786682177-target
      selected: false
      source: '1743786874156'
      sourceHandle: source
      target: '1743786682177'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: end
      id: 1743786672018-source-1743691346111-target
      selected: false
      source: '1743786672018'
      sourceHandle: source
      target: '1743691346111'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: user_input
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: user_input
      height: 89
      id: '1743480965008'
      position:
        x: -518.3004758185754
        y: 588.2397600257033
      positionAbsolute:
        x: -518.3004758185754
        y: 588.2397600257033
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743786672018'
          - output
          variable: text
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1743691346111'
      position:
        x: 2951.2149999682397
        y: 673.8793137056701
      positionAbsolute:
        x: 2951.2149999682397
        y: 673.8793137056701
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 446b1dad-e47d-41ef-a9af-8120d1a88dd3
          role: system
          text: "你是一个专业家装设计AI，请根据用户需求生成可直接施工的完整方案。必须严格按以下格式输出JSON，不允许包含任何解释性文字,以{\
            \ 开始：\n\n===固定格式开始===\n{\n  \"global_settings\": {\n    \"basic_info\"\
            : {\n      \"total_area\": \"[请输入房屋总面积，单位：平方米]\",\n      \"house_type\"\
            : \"[从以下选择：平层|复式|别墅|公寓|loft|其他______]\",\n      \"floor_height\": \"[请输入层高，单位：米]\"\
            ,\n      \"building_structure\": \"[从以下选择：框架结构|砖混结构|钢结构|其他______]\",\n\
            \      \"orientation\": \"[从以下选择：南向|北向|东向|西向|东南|西南|东北|西北]\",\n      \"\
            window_type\": \"[从以下选择：落地窗|飘窗|普通平开窗|其他______]\",\n      \"special_requirements\"\
            : [\"请输入特殊需求如：无障碍设计|宠物友好|适老化|儿童安全等\"]\n    },\n    \"design_style\": {\n\
            \      \"main_style\": \"[从以下选择：现代简约|北欧|新中式|工业风|美式|日式|轻奢|侘寂|地中海|其他______]\"\
            ,\n      \"sub_style\": [\"可补充次要风格元素\"],\n      \"color_palette\": {\n\
            \        \"wall\": \"[请输入墙面主色HEX码]\",\n        \"floor\": \"[请输入地面主色HEX码]\"\
            ,\n        \"accent\": \"[请输入强调色HEX码]\",\n        \"secondary\": \"[请输入辅助色HEX码]\"\
            ,\n        \"highlight\": \"[请输入点缀色HEX码]\"\n      },\n      \"material_preferences\"\
            : [\"从以下选择：实木|岩板|金属|玻璃|混凝土|天然石材|其他______\"],\n      \"lighting_strategy\"\
            : \"[从以下选择：无主灯设计|重点照明|氛围照明|混合照明]\"\n    },\n    \"budget\": {\n      \"\
            total\": \"[请输入总预算，单位：万元]\",\n      \"distribution\": {\n        \"hard\"\
            : \"[硬装预算占比%]\",\n        \"soft\": \"[软装预算占比%]\",\n        \"smart\"\
            : \"[智能系统预算占比%]\",\n        \"contingency\": \"[预留应急金占比%]\"\n      },\n\
            \      \"cost_control\": {\n        \"priority_items\": [\"请列出最愿意投资的3个项目\"\
            ],\n        \"economy_items\": [\"请列出希望节省的3个项目\"]\n      }\n    },\n \
            \   \"timeline\": {\n      \"start_date\": \"[YYYY-MM-DD]\",\n      \"\
            duration\": \"[预计工期，单位：周]\",\n      \"milestones\": [\"请填写重要时间节点要求\"]\n\
            \    }\n  },\n  \"rooms\": [\n    {\n      \"type\": \"[从以下选择：客厅|主卧|次卧|儿童房|老人房|书房|厨房|主卫|客卫|阳台|衣帽间|其他______]\"\
            ,\n      \"area\": \"[该区域面积，单位：平方米]\",\n      \"functional_requirements\"\
            : [\"请列出该空间需要满足的功能需求\"],\n      \"hard\": [\n        {\n          \"category\"\
            : \"地面处理\",\n          \"material\": \"[请输入具体材料]\",\n          \"construction\"\
            : \"[特殊工艺要求]\",\n          \"brand_preference\": \"[品牌倾向]\"\n        },\n\
            \        {\n          \"category\": \"墙面处理\",\n          \"material\"\
            : \"[请输入具体材料]\",\n          \"construction\": \"[特殊工艺要求]\",\n        \
            \  \"brand_preference\": \"[品牌倾向]\"\n        },\n        {\n         \
            \ \"category\": \"天花处理\",\n          \"design\": \"[吊顶设计方案]\",\n     \
            \     \"material\": \"[请输入具体材料]\",\n          \"construction\": \"[特殊工艺要求]\"\
            \n        }\n      ],\n      \"soft\": [\n        {\n          \"category\"\
            : \"主要家具\",\n          \"items\": [\"请列出必要家具清单\"],\n          \"style\"\
            : \"[家具风格要求]\",\n          \"material\": \"[材质偏好]\"\n        },\n    \
            \    {\n          \"category\": \"布艺装饰\",\n          \"items\": [\"窗帘|地毯|靠垫等具体要求\"\
            ],\n          \"fabric\": \"[面料偏好]\",\n          \"function\": \"[如：遮光|隔热|隔音等]\"\
            \n        }\n      ],\n      \"smart\": [\n        {\n          \"device\"\
            : \"※[预埋设备名称]\",\n          \"pre_embed\": \"[具体预埋要求]\",\n          \"\
            power\": \"[电源要求]\",\n          \"network\": \"[网络要求]\"\n        },\n\
            \        {\n          \"device\": \"[后期可加装设备]\",\n          \"interface\"\
            : \"[需要预留的接口]\",\n          \"space\": \"[安装空间要求]\"\n        }\n     \
            \ ],\n      \"lighting\": [\n        {\n          \"type\": \"[照明类型]\"\
            ,\n          \"position\": \"[安装位置]\",\n          \"control\": \"[控制方式要求]\"\
            \n        }\n      ],\n      \"storage\": [\n        {\n          \"type\"\
            : \"[储物类型]\",\n          \"location\": \"[位置规划]\",\n          \"custom\"\
            : \"[是否需要定制]\"\n        }\n      ],\n      \"note\": \"[该空间特殊设计要求]\"\n\
            \    }\n  ],\n  \"additional_requirements\": {\n    \"eco_friendly\":\
            \ \"[环保材料要求]\",\n    \"acoustic\": \"[隔音处理要求]\",\n    \"ventilation\"\
            : \"[新风系统要求]\",\n    \"security\": \"[安防系统要求]\",\n    \"maintenance\"\
            : \"[易维护性要求]\"\n  }\n}\n===固定格式结束===\n\n处理规则：\n1. 所有带※号的智能设备必须标注预埋要求\n\
            2. 颜色必须使用HEX编码\n3. 面积/高度单位必须统一\n4. 预算分配总和必须为100%\n5. 每个房间必须包含3个硬装和2个软装建议\n\
            6.对于用户未给出属性，按照最常见的进行设定\n\n下方是用户输入：\n{{#1743480965008.user_input#}}"
        selected: true
        title: 整体架构
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1743702547741'
      position:
        x: 68.86373279468421
        y: 577.7635938581141
      positionAbsolute:
        x: 68.86373279468421
        y: 577.7635938581141
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 258
        is_parallel: true
        iterator_selector:
        - '1743706428975'
        - result
        output_selector:
        - '1743702642070'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1743702632111start
        title: 迭代
        type: iteration
        width: 495
      height: 258
      id: '1743702632111'
      position:
        x: 702.19353178772
        y: 577.7635938581141
      positionAbsolute:
        x: 702.19353178772
        y: 577.7635938581141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 495
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1743702632111start
      parentId: '1743702632111'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 726.19353178772
        y: 645.7635938581141
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1743702632111'
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: fa059ace-a88b-435b-8370-3c1398270365
          role: system
          text: "\r\n{{#1743702632111.item#}}\n\n根据这个房间的信息，给出装修所需的所有材料，按照以下格式输出,其中每个item需要一个材料名，其中room_type代表房间类型，保持一致\n\
            [\n{ room_type: \"\",\nitem: \"\"\n},\n{ room_type: \"\",\nitem: \"\"\n\
            },\n.....\n]"
        selected: false
        title: 单个房间
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1743702642070'
      parentId: '1743702632111'
      position:
        x: 176.07493483245366
        y: 65
      positionAbsolute:
        x: 878.2684666201736
        y: 642.7635938581141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(json_str: str) -> dict:\n    try:\n       \
          \ # 将字符串转换为JSON对象\n        data = json.loads(json_str)\n        \n     \
          \   # 获取除rooms外的一级结构\n        global_settings = data.get(\"global_settings\"\
          , {})\n        \n        # 获取rooms部分\n        rooms = data.get(\"rooms\"\
          , [])\n        \n        # 构造结果列表\n        result_list = []\n        for\
          \ room in rooms:\n            # 将每个房间信息与global_settings合并\n            room_info\
          \ = {**global_settings, **room}\n            result_list.append(room_info)\n\
          \        \n        # 返回结果，将结果列表包装在一个字典中\n        return {\n            \"\
          result\": result_list\n        }\n    except json.JSONDecodeError as e:\n\
          \        print(f\"JSON解析错误: {e}\")\n        return {\"error\": \"Invalid\
          \ JSON input\"}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 整理格式
        type: code
        variables:
        - value_selector:
          - '1743702547741'
          - text
          variable: json_str
      height: 53
      id: '1743706428975'
      position:
        x: 394.8431631005712
        y: 652.0371978643624
      positionAbsolute:
        x: 394.8431631005712
        y: 652.0371978643624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\ndef main(input_array):\n    result_list = []  # 内部保持列表结构\n\
          \    for json_str in input_array:\n        # 清理并转换字符串为合法JSON格式\n       \
          \ cleaned_str = json_str.replace('\\n', '').replace('  ', ' ')\n       \
          \ legal_json_str = cleaned_str.replace('room_type:', '\"room_type\":').replace('item:',\
          \ '\"item\":')\n        \n        # 解析JSON字符串\n        items = json.loads(legal_json_str)\n\
          \        # 添加到结果列表（保持原始结构）\n        result_list.extend(items)\n    \n  \
          \  # 返回字典包裹的数组\n    return {\"result\": result_list}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1743702632111'
          - output
          variable: input_array
      height: 53
      id: '1743783803314'
      position:
        x: 1322.087843463122
        y: 577.7635938581141
      positionAbsolute:
        x: 1322.087843463122
        y: 577.7635938581141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 395
        is_parallel: true
        iterator_selector:
        - '1743783803314'
        - result
        output_selector:
        - '1743786682177'
        - json
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1743786672018start
        title: 迭代 2
        type: iteration
        width: 992
      height: 395
      id: '1743786672018'
      position:
        x: 1621.1657336824164
        y: 577.7635938581141
      positionAbsolute:
        x: 1621.1657336824164
        y: 577.7635938581141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 992
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1743786672018start
      parentId: '1743786672018'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1645.1657336824164
        y: 645.7635938581141
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1743786672018'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter your search query
            ja_JP: Enter your search query
            pt_BR: Enter your search query
            zh_Hans: 输入搜索关键词
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: Key words for searching
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: general
          form: form
          human_description:
            en_US: Search the web using SearXNG, a privacy-respecting metasearch engine
            ja_JP: Search the web using SearXNG, a privacy-respecting metasearch engine
            pt_BR: Search the web using SearXNG, a privacy-respecting metasearch engine
            zh_Hans: 使用注重隐私的元搜索引擎 SearXNG 搜索网页
          label:
            en_US: search type
            ja_JP: search type
            pt_BR: search type
            zh_Hans: 搜索类型
          llm_description: ''
          max: null
          min: null
          name: search_type
          options:
          - label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 综合
            value: general
          - label:
              en_US: Images
              ja_JP: Images
              pt_BR: Images
              zh_Hans: 图片
            value: images
          - label:
              en_US: Videos
              ja_JP: Videos
              pt_BR: Videos
              zh_Hans: 视频
            value: videos
          - label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - label:
              en_US: Map
              ja_JP: Map
              pt_BR: Map
              zh_Hans: 地图
            value: map
          - label:
              en_US: Music
              ja_JP: Music
              pt_BR: Music
              zh_Hans: 音乐
            value: music
          - label:
              en_US: It
              ja_JP: It
              pt_BR: It
              zh_Hans: 信息技术
            value: it
          - label:
              en_US: Science
              ja_JP: Science
              pt_BR: Science
              zh_Hans: 科学
            value: science
          - label:
              en_US: Files
              ja_JP: Files
              pt_BR: Files
              zh_Hans: 文件
            value: files
          - label:
              en_US: Social Media
              ja_JP: Social Media
              pt_BR: Social Media
              zh_Hans: 社交媒体
            value: social_media
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          query: ''
          search_type: ''
        provider_id: langgenius/searxng/searxng
        provider_name: langgenius/searxng/searxng
        provider_type: builtin
        selected: false
        title: SearXNG 搜索
        tool_configurations:
          search_type: general
        tool_label: SearXNG 搜索
        tool_name: searxng_search
        tool_parameters:
          query:
            type: mixed
            value: '{{#1743786874156.result#}}'
        type: tool
      height: 89
      id: '1743786682177'
      parentId: '1743786672018'
      position:
        x: 397.7481549787649
        y: 119.71980168266009
      positionAbsolute:
        x: 2018.9138886611813
        y: 697.4833955407742
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - '1743786682177'
          - json
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1743786672018'
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: fbaa4848-fea0-4487-b5ce-49153d9f2c0a
          role: system
          text: '{{#context#}}

            根据输入内容，整理搜索到的信息'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1743786711431'
      parentId: '1743786672018'
      position:
        x: 732
        y: 105.32647211633332
      positionAbsolute:
        x: 2353.1657336824164
        y: 683.0900659744474
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(input_json: str) -> dict:\n    return {\n        \"result\"\
          : input_json['room_type']+\"+\"+ input_json['item']\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1743786672018'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1743786672018'
          - item
          variable: input_json
      height: 53
      id: '1743786874156'
      parentId: '1743786672018'
      position:
        x: 129.07918031248187
        y: 124.10957152697915
      positionAbsolute:
        x: 1750.2449139948983
        y: 701.8731653850932
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        author: hyx
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"开始部分，可能需要多模态模型进行处理输入的户型图等图片","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1743787725679'
      position:
        x: 161.44740004969356
        y: 416.2484567120532
      positionAbsolute:
        x: 161.44740004969356
        y: 416.2484567120532
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hyx
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"对每个房间的架构生成，后续可考虑使用思考模型，但需要给改变后续处理节点，同时继续优化提示词","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1743787769213'
      position:
        x: 1020.3501639605277
        y: 439.5481125804328
      positionAbsolute:
        x: 1020.3501639605277
        y: 439.5481125804328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hyx
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"可以
          改为思考模型来完善架构设计部分，并且需要继续优化提示词","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1743787821657'
      position:
        x: 68.86373279468421
        y: 761.6978355944781
      positionAbsolute:
        x: 68.86373279468421
        y: 761.6978355944781
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hyx
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"可接入知识库，使用知识库+搜索，或知识库搜索if判断","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1743787861166'
      position:
        x: 2026.5671097487138
        y: 398.0152891890023
      positionAbsolute:
        x: 2026.5671097487138
        y: 398.0152891890023
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hyx
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"未完，基础demo，还需后续处理","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1743787906527'
      position:
        x: 2889.2276451289763
        y: 485.58883484149567
      positionAbsolute:
        x: 2889.2276451289763
        y: 485.58883484149567
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 44.049918138860676
      y: 137.9995386757787
      zoom: 0.45081500549371295
